/# locals:(transaction_value_extractor:)
strong = transaction_value_extractor.field
=< transaction_value_extractor.extraction_type
=< "\"#{print_extraction_value(transaction_value_extractor.extraction_value)}\""
